*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-color: #DDDDDD;
    --dark-bg:#222831;
    --light-bg:#30475E;
    --accent-color:#F05454;
}

body{
    height: 100vh;
    width: 100%;
    background-color: var(--dark-bg);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 1024px;
    height: 600px;
    /* border: 2px solid white; */
    padding: 15px;
}

.container header{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    color: var(--text-color);
}

.container .main-section{
    height: calc(100% - 130px);
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: 50px;
    
}

.main-section .left-section{
    color: var(--text-color);
}

.left-section h1{
    width: 60%;
    text-transform: capitalize;
    font-weight: 500;
}
.left-section h1 span{
    font-weight: 800;
    font-size: 2.2rem;
}

.left-section p{
    margin-top: 30px;
    font-style: italic;
}

.main-section .right-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-section button{
    display: flex;
    align-items: center;
    gap: 20px;
    height: 50px;
    padding: 0px 10px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    color: var(--text-color);
    background-color: var(--light-bg);
}

.right-section button i{
    font-size: 1.5rem;
}

/* .right-section button:first-child i{
    color: var(--accent-color);
} */
