*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-color: #DDDDDD;
    --dark-bg:#222831;
    --light-bg:#30475E;
    --accent-color:#F05454;
}

body{
    height: 100vh;
    width: 100%;
    background-color: var(--dark-bg);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    ;
    display: flex;
    align-items: center;
    justify-content: center;
}


.container{
    width: 1024px;
    height: 600px;
    /* border: 2px solid white; */
    padding: 15px;
}

.container header{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 80px;
    color: var(--text-color);
}

.container header i{
    font-size: 1.5rem;
}

.container .main-section{
    height: calc(100% - 130px);
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: 50px;
    
}

.main-section .left-section{
    color: var(--text-color);
}

.left-section h1{
    width: 60%;
    text-transform: capitalize;
    font-weight: 500;
}
.left-section h1 span{
    font-weight: 800;
    font-size: 2.2rem;
}

.left-section p{
    margin-top: 30px;
    font-style: italic;
}

.main-section .right-section{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.right-section button{
    display: flex;
    align-items: center;
    gap: 20px;
    height: 50px;
    padding: 0px 10px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    color: var(--text-color);
    background-color: var(--light-bg);
    cursor: pointer;
    border: 1px solid var(--light-bg);
    transition: 0.5s;
}

.right-section button:hover{
    border: 1px solid var(--text-color);
}

.right-section button i{
    font-size: 1.5rem;
}

.right-section .option-section{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.option-section .scoreElem{
    height: 100%;
    width: 100%;
    background-color: var(--light-bg);
    padding: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: var(--text-color);
}

.scoreElem .heading{
    display: flex;
    align-items: center;
    gap: 10px;
}

.scoreElem .heading i{
    font-size: 1.8rem;
}

.scoreElem .score{
    font-size: 3.5rem;
}


.right-section .ansbtn{
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 1px;
}

.ansbtn.correct{
    border: 1px solid lightgreen;
    color: lightgreen;
}
.ansbtn.correct:hover{
    border-color:lightgreen;
}


.ansbtn.incorrect{
    border: 1px solid crimson;
    color: crimson;
}
.ansbtn.incorrect:hover{
    border-color:crimson;
}


.right-section .next{
    display: none;
    justify-content: center;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 700;
    background-color: var(--accent-color);
    color: var(--text-color);
    letter-spacing: 0.5px;
}

.right-section .next.active{
    display: flex;
}