*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-color: #DDDDDD;
    --dark-bg:#222831;
    --light-bg:#30475E;
    --accent-color:#F05454;
}

body{
    height: 100vh;
    width: 100%;
    background-color: var(--dark-bg);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden{
    display: none !important;
}

i {
    font-size: 1.5rem;
}

.container{
    width: 1024px;
    height: 600px;
    padding: 15px;
}

.container header{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 80px;
    color: var(--text-color);
}



.container .main-section{
    height: calc(100% - 130px);
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: 80px;
    
}


/* left-section  */

.main-section .left-section{
    color: var(--text-color);
}


.left-section-heading h1{
    width: 80%;
    text-transform: capitalize;
    font-weight: 500;
}

.left-section-heading h1 span{
    font-weight: 800;
    font-size: 2.2rem;
}

.left-section-heading p{
    margin-top: 30px;
    font-style: italic;
}


.left-section .left-section-question{
    width: 100%;
    height: 100%;
    position: relative;
}

.left-section-question p{
    font-style: italic;
    font-weight: 600;
    margin-bottom: 15px;
}

.left-section-question .queston{
    width: 80%;
}

.left-section-question .progress-bar-border{
    position: absolute;
    bottom: 180px;
    height: 15px;
    border-radius: 15px;
    width: 100%;
    background-color: var(--light-bg);
}

.progress-bar-border .progress-bar{
    height: 100%;
    border-radius: 15px;
    width: 0%;
    background-color: var(--accent-color);
    transition: 0.5s;
}

/* right-section */


.main-section .right-section{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.right-section button{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    height: 50px;
    padding: 0px 10px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    color: var(--text-color);
    background-color: var(--light-bg);
    cursor: pointer;
    border: 1px solid var(--light-bg);
    transition: 0.5s;
}

.right-section button:hover{
    border: 1px solid var(--text-color);
}


.right-section-category{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.right-section-answers{
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.right-section .answerBtn{
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 1px;
}

.answerBtn.correct{
    border: 1px solid lightgreen;
    color: lightgreen;
}
.answerBtn.correct:hover{
    border-color:lightgreen;
}


.answerBtn.incorrect{
    border: 1px solid crimson;
    color: crimson;
}
.answerBtn.incorrect:hover{
    border-color:crimson;
}



.score-section{
    background-color: var(--light-bg);
    color: var(--text-color);
    padding: 20px 0px;
    height: 250px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.score-section div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.score-section h1{
    font-size: 3.5rem;
    color: var(--accent-color);
}

.right-section .next{
    display: flex;
    justify-content: center;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 700;
    background-color: var(--accent-color);
    color: var(--text-color);
    letter-spacing: 0.5px;
}




/* media queries */
@media screen and (max-width: 600px){
    .container{
        height: fit-content;
        min-height: 800px;
        overflow-y: auto;
        width: 90%;
        /* background-color: darkblue; */
    }

    .main-section{
        display: flex !important;
        flex-direction: column;
        align-items: center;
        /* background-color: cadetblue; */
        width: 100%;

    }

    .container header{
        margin-bottom: 20px;
        /* background-color: red; */
    }

    .left-section{
        width: 100%;
    }

    .left-section-heading h1{
        width: 80%;
        text-align: left;
    }

    .left-section .left-section-question{
        /* background-color: yellowgreen; */
        width: 100%;
    }

    .left-section-question .question{
        font-size: 1.4rem;
    }

    .left-section-question .progress-bar-border{
        top: 100%;
        margin-top: 30px;
    }

    .quiz-complete-msg h1{
        font-weight: 500;
        width: 80%;
    }

    .quiz-complete-msg span{
        font-size: 2.5rem;
        font-weight: bold;
    }


    .right-section{
        width: 100%;
    }

    .right-section button{
        height: 80px;
        font-size: 1.1rem;
    } 

    .right-section-category{
        height: fit-content;
        gap: 15px;
    }
   
    .right-section-answers{
        margin-top: 20px;
        height: fit-content;
        gap: 10px;
    }
}


/* media queries */
@media screen and (min-width: 600px) and (max-width: 1024px){
    .container{
        height: fit-content;
        min-height: 800px;
        overflow-y: auto;
        width: 90%;
    }

    .main-section{
        display: flex !important;
        flex-direction: column;
        align-items: center;
        width: 100%;

    }

    .container header{
        margin-bottom: 20px;
    }

    .left-section{
        width: 100%;
    }

    .left-section-heading h1{
        width: 80%;
        text-align: left;
    }

    .left-section .left-section-question{
        width: 100%;
    }

    .left-section-question .question{
        font-size: 1.8rem;
    }

    .left-section-question .progress-bar-border{
        top: 100%;
        margin-top: 30px;
    }

    .quiz-complete-msg{
        max-width: 400px;
        margin-inline: auto;
        text-align: center;
    }

    .quiz-complete-msg h1{
        font-weight: 500;
        width: 80%;
    }
    

    .quiz-complete-msg span{
        font-size: 2.5rem;
        font-weight: bold;
    }


    .right-section{
        width: 100%;
    }

    .right-section button{
        height: 80px;
        font-size: 1.1rem;
    } 

    .right-section-category{
        height: fit-content;
        gap: 15px;
    }
   
    .right-section-answers{
        margin-top: 20px;
        height: fit-content;
        gap: 10px;
    }

}